<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
         {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
             <a class="link" href="{{ path('logout') }}">Logout</a>
             {% else %}
             <a class="link" href="{{ path('login') }}">Login</a>
         {% endif %}
        {% block body %}

   {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
